body {
    background-image: url("https://i.imgur.com/sG16QHI.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 800px;
    width: 800px;
}

h1 {
    font-size: 100px;
    color: dodgerblue;
    align-items: center;
    font-family: 'South Park', sans-serif;
    /* display: flex; */
    justify-content: center;
    
}

.gameContainer {
    padding: 0 20px;

}

.answersContainer {
    font-family: 'South Park', sans-serif;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    height: 50px;
    width: 50px;
    text-align: center;
    
   
}

#A {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
    
}

#B {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
}

#C {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
}

#D {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
}
.navigation {
    padding: 0 10px;
    display:column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

}

#next {
    font-family:'South Park', sans-serif;
    font-size: 30px;
    justify-content: center;

}

#checkAnswer {
    font-family:'South Park', sans-serif;
    font-size: 30px;

}