.answersContainer {
    margin: auto;
    font-family: 'South Park', sans-serif;
    display: flex;
    align-items: center;
    border-radius: 45%;
    height: 50px;
    width: 50px;
    text-align: center;
    flex-direction: column;
    
    
   
}

.navigation {
    margin: 400px;
    padding: 0 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 50px;
    
    
}



body {
    background-image: url("https://i.imgur.com/sG16QHI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #f5f9f8;
}


h1 {
    font-size: 6rem;
    color: rgb(85, 75, 116);
    align-items: center;
    font-family: 'South Park', sans-serif;
    justify-content: center;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 3em;
    
    
    
}




#A {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
}

#B {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
}

#C {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
}

#D {
    font-family: 'South Park', sans-serif;
    font-size: 30px;
}

#checkAnswer {
    font-family:'South Park', sans-serif;
    font-size: 30px;
    display: flex;
    margin: auto;
}


#next {
    font-family:'South Park', sans-serif;
    font-size: 30px;
    justify-content: center;
    margin: auto;
}


#questions {
    font-family: 'South Park', sans-serif;
    color: rgb(22, 49, 172);
    display: flex;
    justify-content: center;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3rem;
    padding-left: 4em;
    
}